<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue By Net Ninja</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="vue.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

</head>
<body>
    <div id="myApp">
        <h2>My First Vue app</h2>
        <p>{{name}} my age is {{age}}</p>
        <button v-on:click="age++">Add a year</button>
        <button v-on:click="age--">Subtract a year</button>
        <br>
        <button v-on:click="add">Add a year</button>
        <button v-on:click="subtract">Subtract a year</button>
        <br>
        <button v-on:dblclick="addTen">Add 10 year</button>
        <button v-on:dblclick="subtractTen">Subtract 10 year</button>
        <br>
        <h4>{{getName(this.age)}}</h4>
        <p>{{courses}}</p>
        <h3>{{greet("Morning")}}</h3>
        <a :href="website" target="blank">Collins Site</a>
        <a v-bind:href="website" target="blank">Collins Site</a>
        <input type="text" v-bind:value="name">
        <p v-html="websiteTarget"></p>

        <div id="canvas" v-on:mousemove="updateXY">
            {{x}},  
            {{y}}
        </div>
        <br><br>

        <div id="canvas" @click.once="updateXY">
            {{x}},  
            {{y}}
        </div>

        <label for="Name">Name</label>
        <input type="text" @keyup.enter="logName" name="name" id="name">
        <br>
        <label for="age">Age</label>
        <input type="text" @keyup.alt.ctrl.enter="logAge" name="age" id="age">

        <div>
            <h1>Conditionals(V-if and V-show)</h1>
            <button @click="error=!error">Toggle Errors</button>
            <button @click="success=!success">Toggle success</button>
            <!--While using V-id  it does remove the element completely-->

            <p v-if="error">There has been an error in the system</p>
            <p v-else-if="success">We made it</p>


            <!--While using V-show it does not remove the element completely but gives a style of none-->
            <p v-show="error">There has been an error in the system</p>
            <p v-show="success">We made it</p>

        </div>
        <div>
            <h1>Looping through an Array</h1>
            <ul>
                <li v-for="(character,index) in characters">
                    
                    {{character}} is in {{index}}
                </li>
            </ul>

            <ul v-for>
                <li v-for="(course,index) in courses">
                    {{course.name}} : {{course.grade}} is in {{index}}
                </li>
            </ul>

            <template v-for="course in courses">
                <div v-for="(value,key) in course">
                    <p>{{key}} : {{value}}</p>
                </div>

            </template>
        </div>
    </div>
    <script src="App.js"></script>
</body>
</html>